body {
    background-color: lightgrey;
}

nav {
    background-color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    margin-right: 2rem;
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}