*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e7e7e7;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #01001f;
    font-family: sans-serif;
}

.icon {
    display: none;
}

p {
    text-align: center;
}

#intro-text {
    font-size: 70px;
    margin-top: 200px;
    margin-bottom: 20px;
    color: cornflowerblue;
}

#intro-text, #intro-text2 {
    text-align: center;
}

.container {
    padding: 10px 10%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 0;
    font-weight: bold;
}

#about {
    margin-top: 100px;
}

#about-p {
    padding: 50px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 25px;
}

li {
    margin-right: 2rem;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    color: cornflowerblue;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sub-title {
    font-size:  45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 70px;
    color: cornflowerblue;
}

.tab-titles {
    display: flex;
    margin: 40px 0 40px;
    justify-content: center;
}

.tab-links {
    font-size: 18px;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: cornflowerblue;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width:100%;
}

#projects {
    padding: 30px 0;
}

.project-list {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 30px;
}

.project-list div {
   
   
    font-size: 13px;
    font-weight: 300;
}

.project-list div h2 {
       font-size: 20px;
       text-align: center;
       font-weight: 500;
       padding-right: 25px;
}

.project-list div a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.skills-list div {
    padding: 60px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
}

.skills-list div a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.skills-list div:hover {
    background: cornflowerblue;
    transform: translateY(-10px);
    transition: 0.3s;
}

.skills-p {
    padding-top: 15px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    gap: 50px;
}

.services-p {
    padding-top: 10px;
}

.circles {
    width: 200px; 
    height: 200px;   
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
}

.circles:hover {
    box-shadow: 0 0 10px 1px cornflowerblue;
    transition: 0.3s;
}

.ri-pencil-line, .ri-computer-line, .ri-search-line {
    font-size: 45px;
}

.icon-container {
    margin-top: 60px;
}

.contact-left p {
    margin-top: 30px;
}

.contact-right form{
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 1px solid #e7e7e7;
    outline: none;
    background: transparent;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px; 
}

form input:focus, form textarea:focus {
    border-color: cornflowerblue;
    box-shadow: 0 0 10px 1px cornflowerblue;
}

.button-container {
    text-align: center;
}

#contactusbtn {
    background: cornflowerblue;
    padding: 10px;
    width: 130px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contactusbtn:hover {
    background: cornflowerblue;
    transition: 0.3s;
}



.skills-container {
    background: darkgrey;
    border-radius: 15px;
}
  
  .html {width: 1%; background-color: cornflowerblue; animation: html-fill 2s forwards;} 
  .css {width: 1%; background-color: cornflowerblue; animation: css-fill 2s forwards;} 
  .js {width: 1%; background-color: cornflowerblue; animation: js-fill 2s forwards;} 
  .php {width: 1%; background-color: cornflowerblue; animation: php-fill 2s forwards;} 
  .sql {width: 1%; background-color: cornflowerblue; animation: sql-fill 2s forwards;} 

.language-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e7e7e7;
    opacity: 1; /* Firefox */
  }

textarea {
    font-family: inherit;
    font-size: inherit;
    resize: none;
}

.arrow-container {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
    font-size: 60px;
}

.arrow-container a{
    text-decoration: none;
}

.ri-arrow-down-circle-fill {
    border-radius: 50%;
}

.ri-arrow-down-circle-fill:hover {
    animation: pulse 1.2s infinite;
    background: rgba(100, 149, 237, 0.5);
    padding: 1px;
    animation-delay: 0.2s;
    transition-delay: 0.2s;
}

#contact {
    margin-bottom: 90px;
}

.laptop {
    width: 260px;
    height: 150px;
    margin-top: 20px;
    border: 8px solid rgb(32, 32, 32);
    border-radius: 5px;
}

.laptop-base {
    width: 300px;
    height: 9px;
    margin-left: -20px;
    margin-top: -1px;
    background: linear-gradient(to bottom, #595c5d, #3f4347);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.laptop-touchpad {
    width: 50px;
    height: 5px;
    background: rgb(32, 32, 32);
    margin-left: 100px;
    margin-top: -9px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#site-1 {
    background-image: url(../images/book-website.png);
    background-repeat: round;
}

#site-2 {
    background-image: url(../images/kitchen-website2.png);
    background-repeat: round;
}

#site-3 {
    background-image: url(../images/11.png);
    background-repeat: round;
}

  @keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(100, 149, 237, 0.9);
    }
    70% {
        box-shadow: 0 0 20px 15px rgba(100, 149, 237, 0);
        background: rgba(100, 149, 237, 0.1);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(100, 149, 237, 0);
    }
  }

  
    
@keyframes html-fill{
    100%{
        width: 90%;
    }
}

@keyframes css-fill{
    100%{
        width: 90%;
    }
}

@keyframes js-fill{
    100%{
        width: 80%;
    }
}

@keyframes php-fill{
    100%{
        width: 70%;
    }
}

@keyframes sql-fill{
    100%{
        width: 70%;
    }
}

@media screen and (max-width:567px) {

    #intro-text {
        font-size: 50px;
        margin-top: 100px;
    }

    .skills-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .skills-list div {
        padding: 0;
    }

    .skills-p {
        padding-bottom: 15px;
    }

    svg {
        padding: 20px;
        padding-bottom: 5px;
    }

    #about-p {
        padding: 0;
    }

    .arrow-container {
        margin-bottom: 0;
    }
    
    nav ul li a:hover {
        color: #01001f;
    }
   
    .topnav { 
        position: relative;
        background:radial-gradient(farthest-side,cornflowerblue 48%,transparent 50%) no-repeat,
        black;
        background-size: 400% 400%;
        background-position:bottom left;
        transition: 1s ease;
      }
    
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    .topnav a.icon {
        font-size: 30px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav #myLinks {
        display: none;
    }
}